USER_SERVICE_VERSION=dev
FOOD_SERVICE_VERSION=dev
REQUEST_SERVICE_VERSION=dev
CLAIM_SERVICE_VERSION=dev
POSTGRES_USER=user
POSTGRES_PASSWORD=password
JWT_SECRET=change-me-in-development

# External databases. Do not run database containers for this workflow.
USER_DATABASE_URL=postgres://user:password@host.docker.internal:5433/user_db?sslmode=disable
REQUEST_DATABASE_URL=postgres://user:password@host.docker.internal:5435/request_db?sslmode=disable
CLAIM_DATABASE_URL=postgres://user:password@host.docker.internal:5436/claim_db?sslmode=disable
FOOD_DB_HOST=host.docker.internal
FOOD_DB_PORT=5434
FOOD_DB_USER=user
FOOD_DB_PASSWORD=password
FOOD_DB_NAME=food_db
FOOD_DB_SSLMODE=disable
CLAIM_DB_HOST=host.docker.internal
CLAIM_DB_PORT=5436
CLAIM_DB_USER=user
CLAIM_DB_PASSWORD=password
CLAIM_DB_NAME=claim_db
CLAIM_DB_SSLMODE=disable
RESEND_API_KEY=re_your_api_key_here
