PORT=8082
GRPC_PORT=50052
DB_HOST=localhost
DB_PORT=5434
DB_USER=user
DB_PASSWORD=password
DB_NAME=food_db
DB_SSLMODE=disable
JWT_SECRET=change-me-in-development
JWT_EXPIRY_HOURS=24
USER_SERVICE_GRPC_ADDRESS=localhost:50051
REQUEST_SERVICE_GRPC_ADDRESS=localhost:50053
