SERVER_PORT=8082
GRPC_PORT=50052
DATABASE_URL=postgres://user:password@localhost:5435/request_db?sslmode=disable
JWT_SECRET=change-me-in-development
REQUEST_TTL=24h
JWT_ACCESS_TTL=1h
JWT_REFRESH_TTL=168h
FOOD_SERVICE_GRPC_ADDRESS=localhost:50053
USER_SERVICE_GRPC_ADDRESS=localhost:50051